* {
    box-sizing: border-box
}

.searchBarWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 315px;
    padding-bottom: 17px;
    background: white;
    width: 100%;
}

.logoContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 19.6%;
    align-items: flex-end;
    padding-top: 17px;
}


.searchInput input {
    border: 1px solid grey;
    width: 215px;
    margin-top: 23px;
    height: 30px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    background-color: beige;
}

.iconsWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    width: 17.6%;
    margin-left: 2.8%;

}

.cameraImg img{
    width: 35px;
    margin-left: 5px;
}

.logoImg img {
    width: 125px;
    padding-left: 18px;
    border-left: 1px solid black;
}

.icon img{
    width: 60%;

}

.exploreIcon {
    width: 38px;
    margin-right: 2px;
    padding-bottom: 2px;
}