.postHeader {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 640px;
    padding: 12px;

}

.headerThumb {
    border-radius: 50%;
    width: 40px;
}

.headerUser {
    padding: 10px;
    font-weight: 650

}

